version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    # Let the image ENTRYPOINT handle running Python; pass only the script name
    command: ["flask_app.py"]

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: comments_db
      MYSQL_RANDOM_ROOT_PASSWORD: "yes" # to replaec with external secret manager
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
