version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: python flask_app.py

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: comments_db
      MYSQL_ROOT_PASSWORD: "pHNon'RDdNX2,;x"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
